$footer-bg-color: #000000;
$footer-text-color: #ffffff;
$footer-padding: 20px;

.footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: $footer-padding;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer p {
  margin-bottom: 10px;
}