main {
    h2 {
      margin-bottom: 1rem; 
      text-align: center;
      padding: 55px 0;
      margin-bottom: 2rem;
    }
  
    .container {
      .row {
        .col-md-4 {
          margin-bottom: 1rem;
          .card {
            .card-img-top {
              max-height: 200px;
              object-fit: cover;
            }
  
            .card-body {
              text-align: center; 
              padding: 1rem;
  
              .card-text {
                font-weight: 500; 
              }
            }
          }
        }
      }
    }
  }